
<div style="text-align: center;"><img src="https://cdn.shopify.com/s/files/1/0743/4993/files/ANM_Top_Banner_AEH_800x800.gif?v=1614964103" width="800x800" height="800x800" style="float: none;" /></div>
<div style="text-align: center;"><img src="https://cdn.shopify.com/s/files/1/0743/4993/files/Nuestro_Servicio_Tit_600x600.png?v=1614897248" width="600x600" height="600x600" style="margin-top: -30px; float: none;" /></div>
<div style="text-align: center;"></div>
<div style="text-align: center;"></div>
<div style="text-align: center;"><img src="https://cdn.shopify.com/s/files/1/0743/4993/files/Nuestro_Servicio_Home_600x600.png?v=1614897006" width="600x600" height="600x600" style="margin-top: -50px; float: none;" /></div>
<div style="text-align: center;" id="verMas"><a href="https://docs.google.com/forms/d/e/1FAIpQLSd566zM79ZZkOGv6UROAH-1JwdWPiZN9XcNjIt2HGd0Pqv0IA/viewform" target="_blank" title="Formulario Alameda Estudio Home" rel="noopener noreferrer"><img src="https://cdn.shopify.com/s/files/1/0743/4993/files/Escribenos_Cr_600x600.png?v=1614897368" width="600x600" height="600x600" style="margin-top: -30px; float: none;" /></a></div>
<div style="text-align: center;"><span>Si buscas asesoría en proyectos corporativos</span></div>
<div style="text-align: center;"><a href="https://www.alameda.mx/pages/alameda-estudio-profesionales" title="Alameda Estudio Contract"><span style="color: #ff8000;">visita esta página</span></a></div>
<div style="text-align: center;"><img src="https://cdn.shopify.com/s/files/1/0743/4993/files/Proyectos_Alameda_Tit_600x600.png?v=1614898731" width="600x600" height="600x600" style="margin-bottom: 60px; float: none;" /></div>
<div style="text-align: center;"><img src="https://cdn.shopify.com/s/files/1/0743/4993/files/AEH_ANM_600x600.gif?v=1614962647" width="600x600" height="600x600" style="margin-top: -50px; float: none;" /></div>
<div style="text-align: center;"><img src="https://cdn.shopify.com/s/files/1/0743/4993/files/Como_Funciona_Tit_600x600.png?v=1614962821" width="600x600" height="600x600" style="margin-top: -10px; float: none;" /></div>
<div style="text-align: center;"><img src="https://cdn.shopify.com/s/files/1/0743/4993/files/Como_Funciona_Icons_600x600.png?v=1614963442" width="600x600" height="600x600" style="margin-top: -50px; float: none;" /></div>
<div style="text-align: center;"></div>
<div style="text-align: center;"><img src="https://cdn.shopify.com/s/files/1/0743/4993/files/Nuestras_Asesorias_Tit_600x600.png?v=1614979928" width="600x600" height="600x600" style="margin-top: -10px; margin-bottom: -50px; float: none;" /></div>
<div style="text-align: center;"><span style="color: #000000;"><img src="https://cdn.shopify.com/s/files/1/0743/4993/files/Hablemos_ImgC_650x650.png?v=1614983448" alt="" /><img src="https://cdn.shopify.com/s/files/1/0743/4993/files/Imaginemos_ImgC_650x650.png?v=1614983448" alt="" /><img src="https://cdn.shopify.com/s/files/1/0743/4993/files/Transformemos_Img_650x650.png?v=1614980022" style="float: none;" /></span></div>
<div class="txtCentro" style="text-align: center;"><span style="color: #404040;">*Precio por espacio individual. </span>La cantidad de espacios que necesites intervenir determinará el precio final (sala, comedor, habitación, terraza, etc.). A partir de 2 espacios tendrás un 10% de descuento sobre el costo total del servicio.</div>
<div style="text-align: center;"><img src="https://cdn.shopify.com/s/files/1/0743/4993/files/Formulario_Tit_600x600.png?v=1614980949" width="600x600" height="600x600" style="margin-bottom: -5px; float: none;" /></div>
<div style="text-align: center;"><iframe id="iframeEstudio one" src="https://docs.google.com/forms/d/e/1FAIpQLSd566zM79ZZkOGv6UROAH-1JwdWPiZN9XcNjIt2HGd0Pqv0IA/viewform?embedded=true" width="100%" height="2000" frameborder="0" marginheight="0" marginwidth="0"></iframe></div>


<script>
  $(function () {
    $('#verMas').bind("click", function () {
      var dest = $("#one").offset().top;
      $("html, body").animate({scrollTop: dest},600);
    });

  });
</script>